@import "tailwindcss";

@layer base {
  :root {
    /* --- FLOWBITE LIGHT MODE PALETTE --- */

    /* BACKGROUNDS */
    /* Main background (White) */
    --bg-main: #eeeeee;

    --bg-strong: #e6e6e6;
    /* Secondary background (Gray-50 - used for sidebars/cards) */
    --bg-alt: #ffffff;

    /* TEXT */
    /* Main Headings (Gray-900) */
    --text-main: #111827;
    /* Body Text (Gray-500) */
    --text-body: #6b7280;

    /* BORDERS */
    /* Default Border (Gray-200) */
    --border-main: #d1d5db;
    --border-medium: #dadde0;
    --border-light: #ededee;

    /* PRIMARY BRAND COLOR (Flowbite Blue) */
    /* Primary Button Background (Blue-700) */
    --primary-bg: #1a56db;
    /* Primary Button Hover (Blue-800) */
    --primary-hov: #1e429f;
    /* Primary Text (Blue-600) */
    --primary-txt: #1c64f2;

    --primary-bg-light: #5996f8;
    --primary-hov-light: #2563eb;
    --primary-txt-light: #3b82f6;
  }

  .dark {
    /* --- FLOWBITE DARK MODE PALETTE --- */

    /* BACKGROUNDS */
    /* Main background (Gray-900) */
    --bg-main: #0a0d14;
    --bg-strong: #030305;
    /* Secondary background (Gray-800) */
    --bg-alt: #131e2c;

    /* TEXT */
    /* Main Headings (White) */
    --text-main: #ffffff;
    /* Body Text (Gray-400) */
    --text-body: #9ca3af;

    /* BORDERS */
    /* Default Border (Gray-700) */
    /* --border-main: #374151; */
    --border-main: rgb(39, 49, 71);
    --border-medium: rgb(32, 40, 56);
    --border-light: rgb(24, 31, 43);

    /* PRIMARY BRAND COLOR */
    /* Primary Button Background (Blue-600 - slightly lighter for dark mode) */
    --primary-bg: #2563eb;
    /* Primary Button Hover (Blue-700) */
    --primary-hov: #1d4ed8;
    /* Primary Text (Blue-500) */
    --primary-txt: #3b82f6;
    --primary-bg-light: #5996f8;
    --primary-hov-light: #2563eb;
    --primary-txt-light: #3b82f6;
  }
}

/* 2. Map variables to Tailwind Utilities */
@theme {
  /* Backgrounds */
  --color-surface: var(--bg-main);
  --color-surface-strong: var(--bg-strong);
  --color-surface-alt: var(--bg-alt);

  /* Text */
  --color-heading: var(--text-main);
  --color-body: var(--text-body);

  /* Borders */
  --color-border: var(--border-main);
  --color-border-medium: var(--border-medium);
  --color-border-light: var(--border-light);

  /* Custom border widths */
  --border-width-thick: 5px;

  /* Primary Brand */
  --color-brand: var(--primary-bg);
  --color-brand-hover: var(--primary-hov);
  --color-brand-text: var(--primary-txt);
  --color-brand-light: var(--primary-bg-light);
  --color-brand-light-hover: var(--primary-hov-light);
  --color-brand-light-text: var(--primary-txt-light);

  /* Keep standard border radius */
  --radius-base: 0.75rem;
  /* Flowbite uses slightly rounder 8px usually */
}

/* 3. Apply Global Defaults */
@layer base {
  body {
    @apply bg-surface text-body antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong {
    @apply text-heading;
  }
}